<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LanguageExt.Core" version="3.4.15" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" />
  <package id="System.Buffers" version="4.4.0" />
  <package id="System.Collections" version="4.3.0" />
  <package id="System.Diagnostics.Debug" version="4.3.0" />
  <package id="System.Globalization" version="4.3.0" />
  <package id="System.Globalization.Extensions" version="4.3.0" />
  <package id="System.IO" version="4.3.0" />
  <package id="System.Memory" version="4.5.3" />
  <package id="System.Numerics.Vectors" version="4.4.0" />
  <package id="System.Reflection" version="4.3.0" />
  <package id="System.Reflection.Extensions" version="4.3.0" />
  <package id="System.Reflection.Primitives" version="4.3.0" />
  <package id="System.Reflection.TypeExtensions" version="4.3.0" />
  <package id="System.Resources.ResourceManager" version="4.3.0" />
  <package id="System.Runtime" version="4.3.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" />
  <package id="System.Runtime.Extensions" version="4.3.0" />
  <package id="System.Runtime.Handles" version="4.3.0" />
  <package id="System.Runtime.InteropServices" version="4.3.0" />
  <package id="System.Text.Encoding" version="4.3.0" />
  <package id="System.Threading.Tasks" version="4.3.0" />
  <package id="System.ValueTuple" version="4.5.0" />
</packages>